.venv
.venv/**
.env
.env.*
.git
.git/**
node_modules
**/node_modules
frontend/next-app/.next
frontend/next-app/node_modules
backend/node_modules
repl_state
repl_state/**
*.log
*.pyc
__pycache__
.DS_Store

*.tgz
*.tar.gz
npm-debug.log
yarn-error.log
dist
dist/**
build
build/**
coverage
coverage/**
/.next
README*
LICENSE
.vscode
.vscode/**
.editorconfig
.aws
.aws/**
